<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <p> Acerca de nosotros
        Luis Moreno:
        Mi nombre es Luis Moreno, tengo 32 años, soy Administrador de empresas, actualmente trabajo para una empresa como Analista de Compras y me quiero especializar en el Area de Programacion.
        Mariana Figueras:
        Soy Licenciada en Comercio Internacional y busco diversificar en el area de programacion. Estos son mis primeros pasos, me resulta complejo y desafiante, voy a seguir capacitandome aunque aun no decido en que rama.
        Soy de zona oeste y casualmente resultamos ser vecinos con Luis. Por ultimo, empece a jugar al voley hace poco y me parece una excelente actividad para desconectar de la rutina. Gracias!
    </p>
</body>
</html>